.p-message {
  &.p-message-warn {
    border-radius: 8px;
    border: 1px solid var(--system-warning-dark, #862600);
    background: var(--system-warning-light, #ffe293);

    color: var(--system-warning-dark, #862600);

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 118%;

    .p-message-icon {
      color: var(--system-warning-dark, #862600);
    }
  }
  &.p-message-error {
    border-radius: 8px;
    border: 1px solid var(--system-danger-dark, #d10000);
    background: var(--system-danger-light, #ffdbdb);

    color: var(--system-danger-dark, #d10000);

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 118%;

    .p-message-icon {
      color: var(--system-danger-dark, #d10000);
    }
  }
}
