<div class="flex flex-column gap-4">
  <p-table
    #dt
    dataKey="email"
    [columns]="cols()"
    [value]="items()"
    [tableStyle]="{ 'min-width': '50rem' }"
    [globalFilterFields]="['username', 'email']"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        <h2>Lista utenti registrati</h2>
        <div class="flex gap-2 align-items-end">
          <app-dropdown
            class="w-full mr-2"
            style="min-width: 256px"
            [options]="userTypes()"
            [showClear]="true"
            label="Tipologia utente"
            [(ngModel)]="searchPayload().userType"
            (onChangeValue)="search()"
          ></app-dropdown>
          <div class="flex">
            <input
              class="input-field"
              pInputText
              type="text"
              [(ngModel)]="searchPayload().searchText"
              placeholder="Ricerca per nome o email"
              (keydown.enter)="search()"
            />

            <p-button
              icon="pi pi-search"
              styleClass="search-button"
              (onClick)="search()"
            />
          </div>
          <button class="p-button" style="min-width: 136px" (click)="onAdd()">
            <div class="flex gap-2">
              <span class="font-semibold">Aggiungi</span>

              <i class="pi pi-plus"></i>
            </div>
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        @for (col of columns; track $index) {
        <th [width]="col.width + '%'">
          {{ col.label }}
        </th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          {{ user.username }}
        </td>
        <td>
          {{ user.email }}
        </td>

        <td>
          <p-tag
            [value]="getUserType(user.userType).label"
            [severity]="getUserType(user.userType).severity"
          />
        </td>

        <td class="">
          @if(loggedUserData()&& user.email != loggedUserData()!.email){

          <div class="flex gap-2 justify-content-center">
            <p-button
              icon="pi pi-pencil"
              [text]="true"
              (onClick)="onEdit(user)"
            />
            <p-button
              styleClass="p-button p-button-danger p-button-text"
              icon="pi pi-trash"
              severity="danger"
              (onClick)="onDelete(user)"
            />
          </div>
          }@else {
          <div class="text-center">
            <strong>Utenza personale</strong>
          </div>
          }
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [colSpan]="cols().length">
          <app-empty-message
            [title]="'Nessun elemento trovato'"
            [message]="
              'Nel sistema non è presente nessun utente che corrisponde ai criteri di ricerca inseriti '
            "
          ></app-empty-message>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-edit-user-dialog
  #addEditUserDialog
  (onSave)="onSave($event)"
></app-edit-user-dialog>

<app-alert-dialog
  #deleteDialog
  header="Conferma eliminazione utente"
  [message]="
    'Sei sicuro di voler eliminare <strong>' +
    deleteItem()?.username +
    '</strong> ?'
  "
  [showRemove]="true"
  [showWarning]="false"
  [showConfirmBtn]="false"
  [showUndoBtn]="true"
  (confirm)="onDeleteConfirm()"
></app-alert-dialog>
