.input-field {
  height: 44px;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  border: 2px solid var(--surface-200);
  padding-inline: 1rem;
}
input:focus {
  outline: none;
  border: 2px solid var(--primary-100);
  border-right-color: transparent;
}

::ng-deep {
  .search-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

button {
  height: 44px;
}
