#login-page {
  .logo {
    max-width: 480px;
    object-fit: scale-down;
  }

  #card-bg {
    background-image: url("/bg.png");
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    height: 600px;
    min-width: 320px;
    background-position-x: right;
  }

  .form {
    width: 100%;
    min-width: 320px;
    transition: min-width 0.4s ease; /* Aggiungi la transizione qui */
    &.registration {
      min-width: 640px;
    }
  }
  ::ng-deep {
    p-button {
      max-width: 320px;
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}
