#login-page {
  .logo {
    max-width: 480px;
    object-fit: scale-down;
  }

  .card {
    max-width: 860px;
  }

  #card-bg {
    background-image: url("/bg.png");
    object-fit: scale-down;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
  }

  .form {
    width: 100%;
    min-width: 320px;
    &.registration {
      min-width: 640px;
    }
  }
}
