<app-simple-dialog
  #dialog
  [closable]="true"
  [header]="
    form()?.get('id')?.value != null
      ? 'Modifica info utente'
      : 'Creazione utente'
  "
  [size]="'md'"
>
  @if(!!form()){

  <form [formGroup]="form()!" class="grid w-full mt-4">
    <div class="col-12 md:col-6">
      <app-text-input
        label="Nome utente"
        for="username"
        formControlName="username"
        [control]="form()?.get('username')!"
        [required]="true"
      ></app-text-input>
    </div>
    <div class="col-12 md:col-6">
      <app-text-input
        label="Email"
        for="email"
        formControlName="email"
        [control]="form()?.get('email')!"
        [required]="true"
      ></app-text-input>
    </div>

    <div class="col-12 md:col-6">
      <app-dropdown
        class="w-full"
        [options]="userTypes()"
        [showClear]="true"
        [required]="true"
        label="Tipologia utente"
        [control]="form()!.get('userType')!"
        formControlName="userType"
      ></app-dropdown>
    </div>
  </form>

  }

  <div buttons>
    <div class="flex justify-content-between gap-x-4 dialog-actions">
      <p-button
        label="Annulla"
        styleClass="p-button-text"
        (onClick)="close()"
      ></p-button>
      <p-button
        [label]="form()?.get('id')?.value != null ? 'Salva' : 'Aggiungi'"
        [disabled]="form()?.invalid"
        (onClick)="onAddUser()"
      >
      </p-button>
    </div>
  </div>
</app-simple-dialog>
