.p-button {
  color: var(--surface-0);
  background: var(--primary-500);
  border: 1px solid var(--primary-500);
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px;
  outline-color: transparent;
}
.p-button:not(:disabled):hover {
  background: #2563eb;
  color: var(--surface-0);
  border-color: #2563eb;
}
.p-button:not(:disabled):active {
  background: #1d4ed8;
  color: var(--surface-0);
  border-color: #1d4ed8;
}
.p-button.p-button-outlined {
  background-color: transparent;
  color: var(--primary-500);
  border: 1px solid;
}
.p-button.p-button-outlined:not(:disabled):hover {
  background: rgba(59, 130, 246, 0.04);
  color: var(--primary-500);
  border: 1px solid;
}
.p-button.p-button-outlined:not(:disabled):active {
  background: rgba(59, 130, 246, 0.16);
  color: var(--primary-500);
  border: 1px solid;
}
.p-button.p-button-outlined.p-button-plain {
  color: #6b7280;
  border-color: #6b7280;
}
.p-button.p-button-outlined.p-button-plain:not(:disabled):hover {
  background: #f3f4f6;
  color: #6b7280;
}
.p-button.p-button-outlined.p-button-plain:not(:disabled):active {
  background: #e5e7eb;
  color: #6b7280;
}
.p-button.p-button-text {
  background-color: transparent;
  color: var(--primary-500);
  border-color: transparent;
}
.p-button.p-button-text:not(:disabled):hover {
  background: rgba(59, 130, 246, 0.04);
  color: var(--primary-500);
  border-color: transparent;
}
.p-button.p-button-text:not(:disabled):active {
  background: rgba(59, 130, 246, 0.16);
  color: var(--primary-500);
  border-color: transparent;
}
.p-button.p-button-text.p-button-plain {
  color: #6b7280;
}
.p-button.p-button-text.p-button-plain:not(:disabled):hover {
  background: #f3f4f6;
  color: #6b7280;
}
.p-button.p-button-text.p-button-plain:not(:disabled):active {
  background: #e5e7eb;
  color: #6b7280;
}
.p-button:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #bfdbfe;
}
.p-button .p-button-label {
  transition-duration: 0.2s;
}
.p-button .p-button-icon-left {
  margin-right: 0.5rem;
}
.p-button .p-button-icon-right {
  margin-left: 0.5rem;
}
.p-button .p-button-icon-bottom {
  margin-top: 0.5rem;
}
.p-button .p-button-icon-top {
  margin-bottom: 0.5rem;
}
.p-button .p-badge {
  margin-left: 0.5rem;
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
  color: var(--primary-500);
  background-color: var(--surface-0);
}
.p-button.p-button-raised {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.p-button.p-button-rounded {
  border-radius: 2rem;
}
.p-button.p-button-icon-only {
  width: 3rem;
  padding: 0.75rem 0;
}
.p-button.p-button-icon-only .p-button-icon-left,
.p-button.p-button-icon-only .p-button-icon-right {
  margin: 0;
}
.p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
  height: 3rem;
}
.p-button.p-button-sm {
  font-size: 0.875rem;
  padding: 0.65625rem 1.09375rem;
}
.p-button.p-button-sm .p-button-icon {
  font-size: 0.875rem;
}
.p-button.p-button-lg {
  font-size: 1.25rem;
  padding: 0.9375rem 1.5625rem;
}
.p-button.p-button-lg .p-button-icon {
  font-size: 1.25rem;
}
.p-button.p-button-loading-label-only .p-button-label {
  margin-left: 0.5rem;
}
.p-button.p-button-loading-label-only .p-button-loading-icon {
  margin-right: 0;
}

.p-button.p-button-secondary,
.p-button-group.p-button-secondary > .p-button,
.p-splitbutton.p-button-secondary > .p-button {
  color: var(--surface-0);
  background: var(--secondary-500);
  border: 1px solid var(--secondary-500);
}
.p-button.p-button-secondary:not(:disabled):hover,
.p-button-group.p-button-secondary > .p-button:not(:disabled):hover,
.p-splitbutton.p-button-secondary > .p-button:not(:disabled):hover {
  background: #e2e8f0;
  color: #334155;
  border-color: #e2e8f0;
}
.p-button.p-button-secondary:not(:disabled):focus,
.p-button-group.p-button-secondary > .p-button:not(:disabled):focus,
.p-splitbutton.p-button-secondary > .p-button:not(:disabled):focus {
  box-shadow: none;
}
.p-button.p-button-secondary:not(:disabled):active,
.p-button-group.p-button-secondary > .p-button:not(:disabled):active,
.p-splitbutton.p-button-secondary > .p-button:not(:disabled):active {
  background: #cbd5e1;
  color: #1e293b;
  border-color: #cbd5e1;
}
.p-button.p-button-secondary.p-button-outlined,
.p-button-group.p-button-secondary > .p-button.p-button-outlined,
.p-splitbutton.p-button-secondary > .p-button.p-button-outlined {
  background-color: transparent;
  color: var(--secondary-500);
  border: 1px solid;
}
.p-button.p-button-secondary.p-button-outlined:not(:disabled):hover,
.p-button-group.p-button-secondary
  > .p-button.p-button-outlined:not(:disabled):hover,
.p-splitbutton.p-button-secondary
  > .p-button.p-button-outlined:not(:disabled):hover {
  background: rgba(241, 245, 249, 0.04);
  color: var(--secondary-500);
  border: 1px solid;
}
.p-button.p-button-secondary.p-button-outlined:not(:disabled):active,
.p-button-group.p-button-secondary
  > .p-button.p-button-outlined:not(:disabled):active,
.p-splitbutton.p-button-secondary
  > .p-button.p-button-outlined:not(:disabled):active {
  background: rgba(241, 245, 249, 0.16);
  color: var(--secondary-500);
  border: 1px solid;
}
.p-button.p-button-secondary.p-button-text,
.p-button-group.p-button-secondary > .p-button.p-button-text,
.p-splitbutton.p-button-secondary > .p-button.p-button-text {
  background-color: transparent;
  color: var(--secondary-500);
  border-color: transparent;
}
.p-button.p-button-secondary.p-button-text:not(:disabled):hover,
.p-button-group.p-button-secondary
  > .p-button.p-button-text:not(:disabled):hover,
.p-splitbutton.p-button-secondary
  > .p-button.p-button-text:not(:disabled):hover {
  background: rgba(241, 245, 249, 0.04);
  border-color: transparent;
  color: var(--secondary-500);
}
.p-button.p-button-secondary.p-button-text:not(:disabled):active,
.p-button-group.p-button-secondary
  > .p-button.p-button-text:not(:disabled):active,
.p-splitbutton.p-button-secondary
  > .p-button.p-button-text:not(:disabled):active {
  background: rgba(241, 245, 249, 0.16);
  border-color: transparent;
  color: var(--secondary-500);
}
