.review-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 400px;
  overflow-y: auto;
  ::ng-deep {
    .edit-btn .p-button.p-button-icon-only {
      height: 22px;
      width: 22px;
      padding: 10px;
      margin: 0;
    }
  }
}
::ng-deep {
  .breadcrumb-item {
    &:hover {
      font-weight: 600;
    }
  }
}
