<div class="flex flex-column px-4">
  <h1>{{ businessName() }}</h1>
  <div class="card">
    <div class="flex justify-content-between align-items-center">
      <h2>Recensioni</h2>
      <button class="p-button" style="min-width: 136px" (click)="onAdd()">
        <div class="flex gap-2">
          <span class="font-semibold">Aggiungi</span>
          <i class="pi pi-plus"></i>
        </div>
      </button>
    </div>
    <div class="flex flex-column gap-2">
      @for (item of items(); track $index) {
      <div class="flex flex-column gap-1">
        <p-rating [(ngModel)]="item.value" [cancel]="false" [readonly]="true" />
        <p>{{ item.body }}</p>
        <hr class="w-full" />
      </div>

      }
    </div>
  </div>
</div>

<!-- <app-edit-user-dialog
  #addEditUserDialog
  (onSave)="onSave($event)"
></app-edit-user-dialog> -->

<app-alert-dialog
  #deleteDialog
  header="Conferma eliminazione utente"
  [message]="
    'Sei sicuro di voler eliminare <strong>' +
    deleteItem()?.body +
    '</strong> ?'
  "
  [showRemove]="true"
  [showWarning]="false"
  [showConfirmBtn]="false"
  [showUndoBtn]="true"
  (confirm)="onDeleteConfirm()"
></app-alert-dialog>
